			<footer class="page-footer blue">
			    <div class="container">
			      <div class="row">
			
			        <div class="col l3 s12">
			          <ul>
			            <li>				 
			            	<a class="white-text" href="<?= $this->url('core',['action'=>'about']) ?>">
							 	About
				             </a>  
				        </li>
				        <li>
							 <a class="white-text" href="<?= $this->url('core',['action'=>'featureRequest']) ?>">
							 	Feature request
				             </a>          	        	          		        	
			        	</li>
			          </ul>
			        </div>
			
			        <div class="col l3 s12">
			          <ul>
				        <li>
							 <a class="white-text" href="<?= $this->url('core',['action'=>'foundBug']) ?>">
							 	Bugs
				             </a>          	        	          		        	
			        	</li>
				        <li>
							 <a class="white-text" href="<?= $this->url('core',['action'=>'workshop']) ?>">
							 	Workshop
				             </a>          	        	          		        	
			        	</li>        	
			          </ul>
			        </div>
			                
			        <div class="col l3 s12">
			          <ul>
				        <li>
							 <a class="white-text" href="<?= $this->url('core',['action'=>'contactUs']) ?>">
							 	Vision
				             </a>          	        	          		        	
			        	</li>
				        <li>
							 <a class="white-text" href="<?= $this->url('core',['action'=>'joinUs']) ?>">
							 	Join us
				             </a>          	        	          		        	
			        	</li>
			          </ul>
			        </div>
			
			        <div class="col l3 s12">
			          <ul>
				        <li>
							 <a class="white-text" href="<?= $this->url('core',['action'=>'contactUs']) ?>">
							 	Contact us
				             </a>          	        	          		        	
			        	</li>
			          </ul>
			        </div>
			                
			      </div>
			    </div>
				
				
			    <div class="footer-copyright">
			      <div class="container">
			      Powered by <a class="brown-text text-lighten-3" href="http://techne.com">Techne</a>
			      </div>
			    </div>
			  </footer>