<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My Soul Careers{% endblock %}</title>
        
			 {{ include('partials/css_files.html.twig') }}       
 
         {% block stylesheets %}{% endblock %}       
    </head>
    <body>
        {% block topbar %}
			 {{ include('partials/topbar.html.twig') }}       
        {% endblock %}
            
        {% block body %}{% endblock %}


        {% block footer %}

			 {{ include('partials/footer.html.twig') }} 
          
        {% endblock %}
        
			 {{ include('partials/js_files.html.twig') }}               
  		
        {% block javascripts %}{% endblock %}
    </body>
</html>


